/*HEADER */

.center:after {
    content: "";
    display: table;
    height: 30px;
}

header>.container {
    height: 100%;
}

header a {
    color: inherit;
}

.logo {
    margin-right: 55px;
}

.logo:hover>a[href="index.php"]>img {
    -webkit-filter: brightness(130%);
    filter: brightness(130%);
}


/*хеадер меню начало*/

.nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.collapse {
    display: none;
}

.nav__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: Plumb-L;
    text-transform: uppercase;
    font-size: 16px;
    color: #909090;
}

.nav__item {
    list-style: none;
    margin: 0 20px;
    white-space: nowrap;
    line-height: 18px;
}

.nav__item:hover .nav__link {
    text-decoration: none;
}

.nav__link-vk:hover,
.nav__link-steam:hover {
    color: #fff;
    text-shadow: 0px 0px 18px rgba(255, 255, 255, 0.32);
}

.nav__menu-main {
    /* margin-right: 64px;
  margin-left: 55px; */
    margin-right: auto;
    /* width: 201px; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.nav--active .nav__link {
    color: #f74f22;
}

.nav--active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    color: #f74f22;
}

.nav--active::after {
    margin: 0 auto;
    content: '';
    display: block;
    position: absolute;
    width: 2px;
    height: 2px;
    border: 2px solid #f4441a;
    -webkit-box-shadow: 0px 0px 18px 6px rgba(255, 48, 0, 0.32);
    box-shadow: 0px 0px 18px 6px rgba(255, 48, 0, 0.32);
    -webkit-box-sizing: none;
    box-sizing: content-box;
    bottom: -14px;
}

@media (max-width: 769px) {
    .nav--active::after {
        display: none;
    }
    .nav_new {
        display: none;
    }
    .nav__menu-dop {
        margin-top: 10px;
    }
    .nav {
        margin: 0 auto;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}

.nav__link:hover {
    color: #f4441a;
}

.nav__link-vk:hover,
.nav__link-steam:hover {
    color: #fff;
}

.nav_new {
    margin-left: 10px;
    -webkit-box-shadow: 0px 0px 18px 6px rgba(255, 48, 0, 0.32);
    box-shadow: 0px 0px 18px 6px rgba(255, 48, 0, 0.32);
}

.nav__menu-dop {
    /* width: 312px; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.autorization {
    margin-left: auto;
    /*	max-width: 133px;*/
}

.show-cont {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: space-between;
}

.nav__menu-main-f {
    margin-left: 0px;
}

.nav__menu-dop--f {
    width: 277px;
    margin-left: auto;
}

.nav__item--auth {
    padding: 0 12px;
}

.nav__link-vk {
    color: #00baff;
    text-shadow: 0px 0px 18px rgba(0, 186, 255, 0.32);
}

.nav__link-steam {
    color: #3df225;
    text-shadow: 0px 0px 18px rgba(61, 242, 37, 0.32);
}

.navbar-toggler {
    background: rgba(150, 143, 143, 0.58);
}

.navbar-toggler:focus,
.navbar-toggler:hover {
    outline: none;
}

.navbar-toggler-icon {
    background-image: url(../img/tog.svg);
}

.navbar {
    width: 100%;
    padding: 0;
    justify-content: space-between;
}


/*хеадер меню конец*/


/*login start*/

.login-button {
    cursor: pointer;
    background: none;
    border: none;
    /* margin-top: 3px; */
    display: block;
    color: #909090;
    font-family: Plumb-L;
    font-size: 16px;
    padding: 0px;
    margin-left: auto;
}

.login-button:focus {
    outline: none;
}

.login-button:hover {
    color: #fff;
}

.login {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: auto;
}

.login__text {
    text-align: right;
}

.login__string-wrap {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.login__string-wrap--first {
    margin-bottom: 6px;
}

.login__string-wrap .login__btn {
    margin-left: 5px;
}

.login__btn--to-up {
    color: #12ff00;
    width: 16px;
    height: 16px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 0px;
    /* line-height: 12px; */
    background-image: url(../img/plus.svg);
    background-position: center;
    background-size: 16px 16px;
}

.login__btn--to-up:hover {
    background-image: url(../img/plus-hover.svg);
}

.login__btn--question {
    color: transparent;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: none;
    background-color: transparent;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    line-height: 15px;
    cursor: pointer;
    position: relative;
    background-image: url(../img/question.svg);
    background-position: center;
    background-size: 16px 16px;
}

.login__btn--question__drop-text {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.75);
    color: #ffffff;
    width: 285px;
    top: 30px;
    display: none;
    font-size: 19px;
    font-family: 'Plumb-L';
    padding: 10px;
    border-radius: 5px;
    z-index: 20;
}

.login__btn--question__drop-text::after {
    display: table;
    content: "";
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid rgba(0, 0, 0, 0.5);
    border-top: 10px solid transparent;
    position: relative;
    margin: 0 auto;
    top: -90px;
    width: 0;
    height: 0;
}

.login__btn--question:hover .login__btn--question__drop-text {
    display: block;
}

.login__btn--LB {
    /* color: #ffffff;
    font-family: Plumb-B; */
    width: 16px;
    height: 16px;
    /* border-radius: 50%; */
    border: none;
    /* background: #f4441a; */
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center;*/
    font-size: 0.1px;
    color: transparent;
    /* line-height: 15px;  */
    /* cursor: pointer; */
    background-color: transparent;
    background-image: url(../img/LB.svg);
    background-position: center;
    background-size: 16px 16px;
}


/* .login__btn--question:hover {
    color: #ffffff;
    border: 1px solid #ffffff;
} */

.login__link {
    font-family: Plumb-L;
    font-size: 16px;
    color: #fff;
    white-space: nowrap;
}

.login__link--bal {
    color: #13f002;
    white-space: nowrap;
}

.login__link--bal-lb {
    font-family: Plumb-L;
    font-size: 16px;
    color: #f4441a;
    margin-left: 10px;
    white-space: nowrap;
}

.login__ava-img {
    width: 41px;
    height: 41px;
    border-radius: 50%;
    border: 1px solid #f4441a;
}

.login__ava-link {
    margin: 0 10px;
}

.login__btn--exit {
    display: block;
    width: 15px;
    height: 15px;
    background-image: url(../img/quit.png);
}

.login__btn--exit:hover {
    background-image: url(../img/quit2.png);
}

.login__link:hover {
    color: #f4441a;
}

login__balance:hover {
    color: #909090;
}

.login__btn--prof {
    font-family: Plumb-L!important;
    font-size: 12px!important;
    color: #ffffff;
    text-transform: uppercase;
    white-space: nowrap;
    width: 111px;
    height: 18px;
    margin-bottom: 4px;
}

.login__btn--to-up-second {
    font-family: Plumb-L!important;
    white-space: nowrap;
    font-size: 12px!important;
    color: #ffffff;
    text-transform: uppercase!important;
    width: 111px;
    height: 18px;
}


/*login end*/


/*.balance start*/

.balance__content {
    background-color: transparent;
}

.balance .modal-dialog {
    max-width: 680px;
    margin-top: 9rem;
}

.popup-recharge_box {
    visibility: hidden;
    backface-visibility: hidden;
    transition: opacity .2s;
    opacity: 0
}

.popup-recharge_box .md-effect {
    transition-timing-function: ease-in-out;
    position: relative;
    padding: 33px 29px 29px;
    background-color: #15181b
}

.popup-recharge_box.md-show {
    opacity: 1;
    visibility: visible;
    transition-timing-function: ease-in-out
}

.popup-recharge_box .md-effect:before {
    display: block;
    content: "";
    width: 566px;
    height: 326px;
    position: absolute;
    top: -63px;
    left: 167px;
    background-image: url(../img/balance__women.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;
}

.popup-recharge_box .md-effect:after {
    display: block;
    position: absolute;
    content: "";
    background-image: url(../img/balance__coin.png);
    background-position: center;
    background-size: 346px 143px;
    background-repeat: no-repeat;
    width: 346px;
    height: 143px;
    top: -29px;
    right: -48px;
    z-index: 0;
}

.popup-recharge {
    left: 50%;
    top: 50%;
    width: 680px;
    min-height: 296px;
    z-index: 99999999;
    border-radius: 3px;
}

.popup-recharge .popup-recharge_warning {
    position: absolute;
    bottom: -60px;
    left: 0;
    width: 680px;
    font-size: 16px;
    color: #ffffff;
    font-family: Plumb-B;
    font-weight: 400;
    background: #4f3173;
    border-radius: 3px;
    padding: 12px;
    text-align: center;
}

.popup-recharge .popup-recharge_title {
    color: #e85b01;
    font-weight: 500;
    font-size: 26px;
    text-shadow: 0 0 20px #e85b01;
    text-transform: uppercase;
    margin-bottom: 34px;
    font-family: Plumb-B;
}

.popup-recharge .popup-recharge_sale {
    font-family: Plumb-L;
    font-size: 16px;
    font-weight: 400;
    color: #fff
}

.popup-recharge .popup-recharge_sale span {
    color: #64cd05;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-family: Plumb-B;
    font-weight: 500;
    display: inline-block
}

.popup-recharge form {
    margin-top: 25px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
    z-index: 999;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.popup-recharge form.disable .form-group {
    display: none
}

.popup-recharge form.disable .form-group-btn {
    width: 100%
}

.popup-recharge form .form-group {
    position: relative;
    width: 302px;
    -ms-align-self: flex-end;
    align-self: flex-end
}

.popup-recharge form .form-group label {
    font-size: 18px;
    font-family: Plumb-B;
    color: #a5a5a5;
    text-transform: none;
    margin-bottom: 7px;
    font-weight: 400;
    display: inline-block
}

.popup-recharge form .form-recharge_methods {
    display: grid;
    grid-template-columns: repeat(auto-fill, 112px);
    row-gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-top: 4px;
}

.popup-recharge form .form-recharge_methods .form-recharge_method {
    width: 112px;
    height: 80px;
    background-color: #15181b;
    position: relative;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 10px;
    padding-top: 10px;
    cursor: pointer;
    transition: background .25s;
    border: 1px solid #2d2d2d;
}

.popup-recharge form .form-recharge_methods .form-recharge_method.active {
    background-color: #111416;
}

.popup-recharge form .form-recharge_methods .form-recharge_method.active:hover {
    background-color: #111416;
}

.popup-recharge form .form-recharge_methods .form-recharge_method .form-recharge_method__info {
    font-size: 16px;
    color: #e85b01;
    font-family: Plumb-L;
    font-weight: 700;
    position: absolute;
    text-transform: lowercase;
    bottom: 4px;
    right: 6px;
    background: #111416;
    border-radius: 3px;
    padding: 1px 6px;
    border: 1px solid #2d2d2d;
}

.popup-recharge form .form-recharge_methods .form-recharge_method.form-recharge_method--disabled input {
    cursor: not-allowed
}

.popup-recharge form .form-recharge_methods .form-recharge_method.form-recharge_method--disabled .payment_method__name {
    color: rgba(255, 255, 255, .25)
}

.popup-recharge form .form-recharge_methods .form-recharge_method:not(.form-recharge_method--disabled):hover {
    background-color: #111416;
}

.popup-recharge .form-recharge_methods .form-recharge_method img {
    max-width: 100%;
    height: auto;
}

.popup-recharge form .form-recharge_methods .form-recharge_method .payment_method__name {
    display: block;
    color: #fff;
    font-weight: 400;
    letter-spacing: .5px;
    width: 100%;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    font-family: Plumb-B;
}

.popup-recharge form .form-recharge_methods .form-recharge_method .icon-epic:before {
    font-size: 30px;
    text-align: center
}

.popup-recharge form .form-recharge_methods .form-recharge_method.form-recharge_method--disabled .icon-epic:before,
.popup-recharge form .form-recharge_methods .form-recharge_method.form-recharge_method--disabled .icon-epicyandex span:before {
    color: rgba(255, 255, 255, .25)
}

.popup-recharge form .form-recharge_methods .form-recharge_method .icon-epicyandex span:before {
    font-size: 35px
}

.popup-recharge form .form-recharge_methods .form-recharge_method .icon-epicvisa:before {
    color: #faa61a;
    font-size: 26px
}

.popup-recharge form .form-recharge_methods .form-recharge_method .icon-epicwebmoney:before {
    color: #00a3ff
}

.popup-recharge form .form-group .add-count {
    position: absolute;
    right: 20px;
    top: 55%;
    color: #f74f22;
    font-size: 18px;
    font-family: Plumb-B;
    font-weight: 400
}

.popup-recharge form .form-group-btn {
    width: 302px;
    height: 60px;
    margin-top: auto;
    background-image: linear-gradient(61deg, #7bec02 0, #175e0d 100%);
    border-radius: 3px;
    color: #fff;
    font-weight: 700;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .5);
    cursor: pointer;
    text-transform: uppercase;
    outline: 0;
    font-size: 18px;
    position: relative;
    font-family: Plumb-B;
    border: none;
}

.popup-recharge form .form-group-btn:hover {
    background-image: linear-gradient(241deg, #7bec02 0, #175e0d 100%);
}

.popup-recharge form .phone-enable .form-group-btn {
    width: 136px
}

.popup-recharge form .form-group-btn span {
    z-index: 2;
    position: relative
}

.popup-recharge form .phone-enable .form-group-btn .text {
    white-space: nowrap;
    overflow: hidden;
    max-width: 103px;
    margin: 0 auto;
    display: block
}


/* .popup-recharge form .form-group-btn::after,
.popup-recharge form .form-group-btn::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, #1cad56 0, #1ddd6a 100%);
    right: 0;
    opacity: 0;
    transition: opacity .3s;
    z-index: 1
} */

.form-recharge_inputs {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-top: 24px;
}

.form-recharge_inputs.phone-enable .form-group_discount {
    width: 272px
}

.popup-recharge form .form-group-btn::after {
    background: linear-gradient(180deg, #106a34 0, #1b964c 100%)
}

.popup-recharge form .form-group-btn:active::after {
    opacity: 1
}

.popup-recharge form .form-group-btn .form-group-btn--text.pending {
    display: none
}

.popup-recharge form .form-group-btn .load {
    display: none;
    margin-right: 5px;
    vertical-align: middle
}

.popup-recharge form .form-group-btn.form-group-btn--pending [type=submit] {
    width: 100%;
    background-color: #21272f;
    border: 1px solid #333b47;
    color: #b3b9cb;
    outline: 0;
    font-family: Geometria;
    font-weight: 500;
    font-size: 20px;
    height: 56px;
    cursor: pointer;
    text-transform: uppercase;
    transition: .2s
}

.popup-recharge form .form-group-btn.form-group-btn--pending {
    display: flex;
    justify-content: center;
    align-items: center
}

.popup-recharge form .form-group-btn.form-group-btn--pending .form-group-btn--text {
    display: none
}

.popup-recharge form .form-group-btn.form-group-btn--pending .form-group-btn--text.pending,
.popup-recharge form .form-group-btn.form-group-btn--pending .load {
    display: inline-block
}

.popup-recharge form .form-group-btn.form-group-btn--pending .load img {
    vertical-align: bottom
}

.popup-recharge form .form-group-btn button:hover {
    background-color: #2f353f;
    border: 1px solid #2f353f
}

.popup-recharge form .form-group-btn:hover::before {
    opacity: 1
}

.popup-recharge form input {
    width: 100%;
    color: #fff;
    font-size: 26px;
    font-weight: 500;
    font-family: Plumb-B;
    height: 60px;
    outline: 0;
    border: 1px solid #2d2d2d;
    text-indent: 20px;
    border-radius: 3px;
    background-color: #111416;
    padding: 0 0;
}

.popup-recharge form input[name="amount_recharge"]::-webkit-outer-spin-button,
.popup-recharge form input[name="amount_recharge"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.popup-recharge form .form-group.form-group_discount {
    /* margin-top: 40px */
    margin-bottom: 0;
}

.popup-recharge form .phone-enable .form-group.form-group_discount {
    width: 216px
}

.popup-recharge form input[name=discount] {
    height: 60px;
    width: 100%;
    text-align: center;
    text-indent: 0;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 23px;
}

.popup-recharge form input[name=discount]::placeholder {
    color: #1e2327;
}

.popup-recharge .btn-discount {
    background-color: #21272f;
    color: #b3b9cb;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    width: 100%;
    font-family: Roboto;
    margin-top: 15px;
    height: 48px;
    border: 0;
    outline: 0;
    cursor: pointer;
    text-transform: uppercase;
    transition: background .3s
}

.popup-recharge .btn-discount:hover {
    background: #2f353f
}

.popup-recharge_box.offer .form-group_discount,
.popup-recharge_box.offer .form-recharge_amount,
.popup-recharge_box.offer .form-recharge_feedback {
    display: none
}

.popup-recharge_box.offer .form-group-btn {
    width: 100%;
    margin-top: 46px!important
}

.popup-recharge_box.offer form .phone-enable .form-group-btn {
    width: 60%
}

.popup-recharge_box.offer .popup-recharge_sale {
    visibility: hidden
}

.popup-recharge__close {
    position: absolute;
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    top: 14px;
    right: 18px;
    cursor: pointer;
    z-index: 100;
}

.popup-recharge__close img {
    width: 24px;
    height: 24px;
}

@media (max-width: 769px) {
    .balance .modal-dialog {
        margin: 0;
        max-width: 100%;
    }
    .form-recharge_inputs {
        flex-wrap: wrap;
        margin-top: 10px
    }
    .popup-recharge form .form-group.form-group_phone,
    .popup-recharge form .phone-enable .form-group-btn,
    .popup-recharge form .phone-enable .form-group.form-group_discount {
        width: 100%;
        margin: 5px auto
    }
    .popup-recharge_box .md-effect:before {
        display: none;
    }
    .popup-recharge {
        width: 100%;
        position: absolute;
        top: 0;
        transform: translateX(-50%)
    }
    .popup-recharge .img-decoration {
        display: none
    }
    .popup-recharge .close {
        top: 15px
    }
    .popup-recharge form .form-group,
    .popup-recharge form input,
    .popup-recharge form input[name=discount] {
        width: 100%
    }
    .popup-recharge form .form-group-btn {
        margin-top: 16px;
        width: 100%
    }
    .popup-recharge_box .md-effect {
        padding-bottom: 60px
    }
    .popup-recharge .popup-recharge_warning {
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        max-width: 100%;
        width: 100%;
        font-size: 14px;
        text-align: center;
        position: relative;
        margin-top: 25px;
    }
    .popup-recharge form .form-recharge_feedback.form-group label {
        position: relative;
        left: 0;
        bottom: 0;
        font-size: 14px
    }
    .popup-recharge .btn-discount {
        display: block
    }
    .popup-recharge form .form-recharge_methods .form-recharge_method.checked:before {
        width: 96px
    }
    .popup-recharge form input {
        font-size: 14px
    }
    .popup-recharge form .form-recharge_feedback.form-group input {
        padding-bottom: 0
    }
    .popup-recharge form .form-recharge_methods {
        margin-top: 20px
    }
    .popup-recharge form .form-group label {
        display: block
    }
}


/*.balance end*/

.bonuses-pay {
    width: 429px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 21px;
}

.bonus-pay {
    width: 136px;
    height: 71px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 9px 0 12px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #fff;
    border-radius: 4px;
    color: #ffffff;
}

.bonus-pay__pay {
    font-size: 31px;
    font-family: Plumb-B;
}

.bonus-pay__gift {
    font-size: 16px;
    font-family: Plumb-L;
}

.modal-backdrop {
    z-index: 10;
}

.header__content-cont .container.flex-box-row {
    height: 100%;
}

.header__content-cont {
    min-height: 80px;
    background-color: rgba(29, 25, 30, 0.50);
    /*    z-index: 100;*/
    position: relative;
    padding: 0 10px;
    height: 80px;
}

.shrink {
    background-color: #1e1a1f;
    -webkit-transition: all .2s;
    transition: all .2s;
}

.link-contract {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.balance__payment-input {
    display: none;
}

.balance__payment-input:checked+.balance__payment-system {
    border: 1px solid #ff5b00;
}

@media (max-width: 992px) {
    .header__content-cont {
        padding: 10px 10px;
    }
    .logo {
        margin: 0 auto;
    }
    .show-cont {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    .nav__menu-main {
        /* margin-right: 64px; */
        /* margin-left: 55px; */
        width: auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        margin: auto;
    }
    .nav__menu-dop {
        width: auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        margin: auto;
    }
    .nav__item {
        padding: 0 6px;
        margin: 0 5px;
    }
    .nav_new {
        display: none;
    }
}

@media (max-width: 768px) {
    .logo {
        margin: 0;
    }
}

@media (min-width: 769px) {
    .navbar-expand-lg .navbar-toggler {
        display: none;
    }
    .navbar-expand-lg .navbar-collapse {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
    }
}

@media (max-width: 426px) {
    .bonuses-pay {
        width: auto;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
        justify-content: space-evenly;
    }
    .bonus-pay {
        margin-top: 5px;
    }
}

@media (max-width: 992px) {
    .header__content-cont .container.flex-box-row {
        height: auto;
    }
    .header__content-cont {
        height: auto;
    }
}

@media (max-width: 769px) {
    .show-cont {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 100%;
        padding-bottom: 10px;
    }
    .autorization {
        -webkit-box-ordinal-group: 0;
        /* -ms-flex-order: -1;
    order: -1; */
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding-top: 20px;
        padding-bottom: 20px;
        margin: 0 auto;
    }
    .nav__menu--auth {
        margin: 0;
    }
    .nav__item {
        line-height: 25px;
    }
    .login {
        margin: auto;
    }
    /* .nav__menu-main>.nav__item:first-child {
        display: none;
    } */
    .nav__menu-main {
        width: 100%;
        display: block;
        margin: 0;
    }
    .navbar,
    .header__content-cont {
        padding: 0;
    }
    .nav__menu-dop {
        width: 100%;
        display: block;
        margin: 0;
    }
    .link-contract {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
}