.banners {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.banner-no-auth {
    width: 100%;
    height: 100%;
}

.banner-no-auth__img {
    width: 100%
}

.banners-img-hover {
    display: none;
}

.banners-link:hover .banners-img-peace {
    display: none;
}

.banners-link:hover .banners-img-hover {
    display: block;
}

.but-bonus-regist {
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-family: Plumb-l;
    font-size: 18px;
    color: #ffffff;
    text-transform: uppercase;
    white-space: nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    margin-top: 58px;
}

.banner-no-auth {
    background-image: url(../img/banner-no-auth.png);
    background-position: top center;
    background-size: 100% auto;
    text-transform: uppercase;
    /*	padding-top: 91px;*/
    padding-top: 5%;
    /*	padding-bottom: 364px;*/
    background-repeat: no-repeat;
}

.but-bonus-regist-p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 300px;
    height: 50px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-image: url(../img/bonus-p-bg.png);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    font-family: Plumb-B;
    font-size: 27px;
    color: #151515;
}

.but-bonus-regist-p:hover {
    color: #fff;
}

.banner-no-auth-about {
    color: #fff;
    /*	font-size: 31px;*/
    font-size: 1.95em;
    font-family: Plumb-L;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    line-height: 54px;
    text-align: center;
}

.banner-no-auth-welcom {
    margin-left: 10px;
}

.banner-no-auth-row {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.banner-no-auth-yamm {
    color: #f4441a;
    /*	font-size: 77px;*/
    font-size: 4.8em;
    font-family: Plumb-B;
}

.banner-no-auth-regist {
    background-image: url(../img/ban-p.png);
    font-family: Plumb-B;
    color: #000;
    font-size: 28px;
    position: absolute;
    padding: 14px 25px;
    text-transform: uppercase;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 10px;
    margin-right: 10px;
    width: 302px;
}

.w-100 {
    height: 300px;
    margin: 0 auto;
    width: auto !important;
}

.carousel-item.active {
    display: flex;
}

.carousel-item {
    overflow: hidden;
    justify-content: center;
}

.banner-no-auth-regist:hover {
    color: #fff;
}

.bunner-gift {
    background-image: url(../img/banner-bonus.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 643px;
    height: 292px;
    margin: 0 auto;
    padding: 120px 49px 75px 221px;
    font-size: 16px;
    color: #ffffff;
    font-family: Plumb-L;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
}

.bunner-gift--auth {
    background-image: url(../img/banner-bonus-auth.png);
}

.bunner-gift__header {
    color: #3df225;
    font-family: Plumb-b;
    font-size: 31px;
    text-shadow: 0px 0px 15px #3df225;
    line-height: 1.3;
    letter-spacing: 1.1px;
    text-align: center;
}

.bunner-gift--auth .bunner-gift__header {
    font-size: 25px;
}

.bunner-gift__text {
    color: rgba(255, 255, 255, 0.15);
    font-family: Plumb-b;
    font-size: 16px;
    text-align: center;
}

.bunner-gift__btn {
    width: 114px;
    height: 35px;
    border-radius: 3px;
    background-color: #1a2c3a;
    margin: 0 auto;
    margin-top: auto;
    text-transform: uppercase;
}

.bunner-gift__btn:hover {
    background-color: #00baff;
    box-shadow: 0px 0 6px 3px rgba(0, 186, 255, 32%);
}

@media (max-width: 768px) {
    .bunner-gift {
        background-image: url(../img/banner-bonus-tb.png);
        width: 397px;
        height: 379px;
        padding: 264px 0px 21px 0;
        justify-content: center;
        display: flex;
    }
    .bunner-gift--auth {
        background-image: url(../img/banner-bonus-auth-tb.png);
    }
    .bunner-gift__header {
        font-size: 27px;
    }
    .bunner-gift--auth .bunner-gift__header {
        font-size: 22px;
    }
}

@media (max-width: 432px) {
    .bunner-gift {
        background-image: url(../img/banner-bonus-mb.png);
        width: 291px;
        height: 316px;
        padding: 229px 0px 12px 0;
    }
    .bunner-gift--auth {
        background-image: url(../img/banner-bonus-auth-mb.png);
    }
    .bunner-gift__header {
        font-size: 18px;
    }
    .bunner-gift__text {
        font-size: 13px;
    }
    .bunner-gift__links span {
        display: none;
    }
    .bunner-gift--auth .bunner-gift__header {
        font-size: 15px;
    }
}

.bunner-gift__links {
    display: flex;
    white-space: nowrap;
    align-items: center;
    justify-content: center;
    margin-top: auto;
}

.bunner-gift-vk {
    flex-shrink: 0;
    color: #00baff;
    text-shadow: 1px 2px 3px #00baff;
    margin: 0 8px 0 8px;
    background-image: url(../img/fon-vk.png);
    background-size: 75px 29px;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    width: 75px;
    height: 29px;
    align-items: center;
    justify-content: center;
}

.bunner-gift-steam {
    flex-shrink: 0;
    color: #3df225;
    text-shadow: 1px 2px 3px #3df225;
    background-image: url(../img/fon-steam.png);
    background-size: 75px 29px;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    width: 75px;
    height: 29px;
    align-items: center;
    justify-content: center;
}

@media (max-width: 643px) {
    .bunner__gift {}
}

@media (max-width: 1023px) {
    .banner-no-auth {
        display: none;
    }
    .banners-img {
        width: 100%;
    }
}

@media (max-width: 1101px) {
    .w-100 {
        height: auto;
        /*	margin: 0 auto;*/
        width: 100% !important;
    }
}

@media (max-width: 1250px) {
    .but-bonus-regist {
        margin-top: 10px;
    }
    .banner-no-auth {
        height: auto;
    }
}

@media (max-width: 426px) {
    .carousel {
        display: none;
    }
}