.modal-dialog {
    pointer-events: inherit!important;
}

.modal__free-item {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-clip: padding-box;
    outline: 0;
    width: 800px;
    height: 833px;
    pointer-events: auto;
}

.modal__free-item .modal-window {
    background-image: url(../img/free-item-d.png), linear-gradient(to bottom right, #0a1015, #340d03);
    display: block;
    background-size: auto, 370px 471px;
    padding: 52% 0 8px;
}

.modal__free-item .window__header {
    font-size: 18px;
    font-family: Plumb-B;
    margin-bottom: 10px;
    margin-top: 12px;
    text-transform: uppercase;
}

.modal__free-item .window__buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 19px;
}

.window__button-take,
.window__button-close {
    width: 114px;
    height: 35px;
    background-color: transparent;
    border: 1px solid #e65601!important;
}

.window__button-take .button-t,
.window__button-close .button-t {
    background-color: transparent;
    white-space: nowrap;
}

.window__button-take:hover,
.window__button-close:hover {
    background-image: linear-gradient(to right, #ec6502, #d22300);
    border: none!important;
}

.modal__free-item .window__text {
    font-size: 16px;
    font-family: Plumb-L;
    opacity: 0.1;
}

.free-item__content {
    width: 300px;
    margin: 0 auto;
}

@media (min-width: 576px) {
    #free-item .modal-dialog {
        max-width: 800;
        margin: 1.75rem auto;
    }
}

@media (max-width: 800px) {
    #free-item .modal-dialog {
        max-width: 576px;
        margin: 1.75rem auto;
    }
    .modal__free-item .modal-window {
        background-size: 90%, 370px 471px;
        padding: 52% 0 12px;
        width: 100%;
        height: 100%;
    }
    .modal__free-item {
        width: 100%;
        height: fit-content;
    }
}

@media (max-width: 576px) {
    #free-item .modal-dialog {
        max-width: 576px;
        margin: 1.75rem auto;
    }
    .modal__free-item .modal-window {
        background-size: 90%, 290px 68%;
        padding: 47% 0 12px;
    }
    #free-item .modal-window img {
        width: 100%;
    }
    .free-item__content {
        width: 270px;
        margin: 0 auto;
    }
}


/* 4 модалки старт */

#free-bonus .modal-dialog {
    pointer-events: inherit;
}

.free__header {
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    color: #ffffff;
    font-family: Plumb-B;
    padding: 18px;
}

.free__item {
    background-image: url(../img/bonus-bg.png);
    background-size: 154%;
    background-repeat: no-repeat;
    background-position: bottom center;
    font-family: Plumb-B;
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6px 0 13px 0px;
}

.free__image {
    width: 164px;
    height: 109px;
    margin-bottom: 25px;
    position: relative;
    z-index: 2;
    background-size: 164px 109px!important;
}

.free-bonus-window--1 .free__image::before {
    content: '';
    display: block;
    background: url(../img/double-r.png);
    width: 17px;
    height: 15px;
    margin-right: 16px;
    background-repeat: no-repeat;
    position: absolute;
    left: -32px;
    top: 47px;
}

.free-bonus-window--1 .free__image::after {
    content: '';
    display: block;
    background: url(../img/double-l.png);
    width: 17px;
    height: 15px;
    margin-left: 16px;
    background-repeat: no-repeat;
    position: absolute;
    right: -32px;
    top: 47px;
}

.free__content {
    color: #ffffff;
    font-size: 16px;
    font-family: Plumb-B;
    text-align: center;
    padding: 17px 0 0 0;
    text-align: center;
}

.free__item-name {
    margin-bottom: 10px;
    z-index: 2;
}

.free__item-price {
    z-index: 2;
}

.free__content-type-1 {
    margin-bottom: 15px;
}

.free__content-type-2 {
    opacity: 0.1;
}

.free__btn {
    white-space: nowrap;
    margin: 20px auto 20px;
    height: 35px;
    width: 114px;
}

.free-bonus-window {
    background-image: linear-gradient(to left, #350d02, #151415);
    border: 1px solid #f4441a;
    border-radius: 4px;
}

.free-bonus-window--1 {
    width: 370px;
    margin: 0 auto;
    /* display: none; */
}

.free-bonus-window--2 {
    width: 532px;
    /* display: none; */
}

.free-bonus-window--2 .free__item {
    position: relative;
}

.free-bonus-window--2 .free__item::before {
    display: block;
    position: absolute;
    top: -42;
    z-index: 0;
    width: 747px;
    height: 239px;
    background-image: url('../img/free-item-2.png');
    content: "";
}

.free__content-type-3 {
    font-family: Plumb-L;
    font-size: 16px;
}

.free__content-type-4 {
    font-size: 16px;
    margin-bottom: 7px;
}

.free__link {
    text-decoration: underline;
    color: #e85c02;
}

.free__link-change {
    display: flex;
    justify-content: space-between;
    padding: 0 14px;
    margin-top: 14px;
}

.free__link-change-btn {
    width: 91px;
    height: 26px;
}

.free__input {
    width: 100%;
    font-size: 16px;
    font-family: Plumb-L;
    line-height: 26px;
    height: 26px;
    border-radius: 3px;
    color: #adadad;
    border: none;
    background-color: #0e1012;
    text-align: center;
    margin-right: 12px;
}

.free-bonus-window--3 {
    /* display: none; */
    width: 485px;
    margin: 0 auto;
    padding: 187px 0 31px 0;
    position: relative;
    background-image: url(../img/free-3-b.png), linear-gradient(to left, #350d02, #151415);
    background-size: auto, 295px 439px;
    background-repeat: no-repeat;
    background-position: center top, center bottom;
    border: none;
}

.free-bonus-window__content {
    width: 295px;
    margin: 0 auto;
    padding: 0 0px;
}


/* .free-bonus-window--3::before {
    content: '';
    display: block;
    background: ;
    width: 483px;
    height: 500px;
    background-repeat: no-repeat;
    position: absolute;
} */

.free-bonus-window--3::after {
    content: '';
    display: block;
}

.free-bonus-window--3 .free__image::before {
    content: '';
    display: block;
    background: url(../img/double-r.png);
    width: 17px;
    height: 15px;
    margin-right: 16px;
    background-repeat: no-repeat;
    position: absolute;
    left: -32px;
    top: 47px;
}

.free-bonus-window--3 .free__content {
    font-size: 16px;
    padding: 17px 5px 0px 5px;
}

.free-bonus-window--3 .free__image::after {
    content: '';
    display: block;
    background: url(../img/double-l.png);
    width: 17px;
    height: 15px;
    margin-left: 16px;
    background-repeat: no-repeat;
    position: absolute;
    right: -32px;
    top: 47px;
}

.free__buttons {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 37px;
    margin-bottom: 4px;
}

.free__buttons .free__btn {
    margin: 0;
}

.free-bonus-window--4 {
    /* display: none; */
    display: flex;
    width: 715px;
    /* height: 462px; */
    margin: 0 auto;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    background-image: linear-gradient(to right, #ff0000 0%, #7bec02 100%), linear-gradient(to right, #ff0000 0%, #7bec02 100%);
    border: none;
    border-left: 1px solid #ff0000;
    border-right: 1px solid #7bec02;
    background-position: 100% 100%, 0% 0%;
    background-repeat: no-repeat;
    background-size: 100% 1px;
    padding: 1px;
}

.free-bonus-window--4 .your__free_item,
.free-bonus-window--4 .our__offer {
    background-color: #000000;
    width: 50%;
}

.free-bonus-window--4 .your__header,
.free-bonus-window--4 .our__header {
    font-size: 17px;
    font-family: plumb-B;
    color: #ffffff;
    text-transform: uppercase;
    white-space: nowrap;
    width: 100%;
    text-align: center;
    padding: 20px 0 7px;
}

.free-bonus-window--4 .your__item,
.free-bonus-window--4 .our__item {
    display: flex;
    justify-content: space-around;
    background-image: url(../img/shadow_rg.png);
    background-repeat: no-repeat;
    background-size: 711px auto;
    height: 156px;
    align-items: center;
}

.free-bonus-window--4 .our__item {
    background-position: bottom right;
}

.free-bonus-window--4 .your__item {
    background-position: bottom left;
}

.free-bonus-window--4 .your__image,
.free-bonus-window--4 .our__image {
    width: 164px;
    height: 109px;
    background-size: 164px 109px!important;
}

.free-bonus-window--4 .your__pay,
.free-bonus-window--4 .our__pay {
    height: 109px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    align-items: center;
    justify-content: space-between;
}

.free-bonus-window--4 .your__old-cost {
    color: #e55301;
    font-family: plumb-B;
    font-size: 21px;
    text-decoration: line-through;
}

.free-bonus-window--4 .our__old-cost {
    color: #7bec02;
    font-family: plumb-B;
    font-size: 21px;
    text-decoration: line-through;
}

.free-bonus-window--4 .your__now-cost,
.free-bonus-window--4 .our__now-cost {
    color: #ffffff;
    font-family: plumb-B;
    font-size: 50px;
}

.free-bonus-window--4 .your__btn,
.free-bonus-window--4 .our__btn {
    width: 114px;
    height: 35px;
    border-radius: 5px;
}

.free-bonus-window--4 .your__btn .button-t,
.free-bonus-window--4 .our__btn .button-t {
    border-radius: 5px;
}

.free-bonus-window--4 .your__btn {
    background-image: linear-gradient(to right, #ec6502, #d22300);
}

.free-bonus-window--4 .our__btn {
    background-image: linear-gradient(to right, #7bec02, #175e0d);
}

.free-bonus-window--4 .your__content,
.free-bonus-window--4 .our__content {
    padding: 13px 0 16px 13px;
}

.free-bonus-window--4 .your__benefit,
.free-bonus-window--4 .our__benefit {
    color: #ffffff;
    font-family: Plumb-L;
    font-size: 19px;
    text-align: center;
    margin-bottom: 30px;
}

.free-bonus-window--4 .your__point,
.free-bonus-window--4 .our__point {
    color: #ffffff;
    font-family: Plumb-L;
    list-style-type: none;
    display: flex;
    align-items: center;
    line-height: 33px;
    font-size: 19px;
}

.free-bonus-window--4 .your__point::before {
    content: "";
    display: block;
    width: 2px;
    height: 2px;
    border: 2px solid #f4441a;
    -webkit-box-shadow: 0px 0px 18px 6px rgba(255, 48, 0, 32%);
    box-shadow: 0px 0px 18px 6px rgba(255, 48, 0, 32%);
    margin: 6px;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    margin: 0 23px 0 0;
}

.free-bonus-window--4 .our__point::before {
    content: "";
    display: block;
    width: 2px;
    height: 2px;
    border: 2px solid #7bec02;
    box-shadow: 0px 0px 18px 6px rgba(123, 236, 2, 32%);
    margin: 6px;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    margin: 0 23px 0 0;
}

.free__plus {
    font-size: 30px;
    color: #ffffff;
    font-family: Plumb-B;
    margin-top: 54px;
}

@media (min-width: 576px) {
    .modal-dialog {
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 576px) {
    #free-bonus .modal-dialog {
        width: 90%;
        margin: 0 auto;
        justify-content: center;
    }
    .free-bonus-window--1 {
        width: 100%;
    }
    .free-bonus-window--2 {
        width: 100%;
    }
    .free-bonus-window--2 .free__item::before {
        width: 100%;
        background-position: center -7px;
    }
    .free__item-cont {
        margin: 10px 0;
    }
}

@media (max-width: 768px) {
    #free-bonus-w4 .modal-dialog {
        width: 285px;
        margin: 3.5rem auto;
    }
    .free-bonus-window--4 {
        width: 285px;
        flex-wrap: wrap;
        background-image: linear-gradient(to top, #ff0000 0%, #7bec02 100%), linear-gradient(to top, #ff0000 0%, #7bec02 100%);
        border: none;
        border-bottom: 1px solid #ff0000;
        border-top: 1px solid #7bec02;
        background-position: 100% 100%, 0% 0%;
        background-size: 1px 100%;
    }
    .free-bonus-window--4 .your__free_item,
    .free-bonus-window--4 .our__offer {
        width: 100%;
    }
    .free-bonus-window--4 .your__free_item {
        order: 2;
    }
    .free-bonus-window--4 .your__image,
    .free-bonus-window--4 .our__image {
        width: 137px;
        height: 91px;
        background-size: 137px 91px!important;
    }
    .free-bonus-window--4 .our__old-cost {
        font-size: 17px;
    }
    .free-bonus-window--4 .your__btn,
    .free-bonus-window--4 .our__btn {
        width: 95px;
        height: 29px;
    }
    .free-bonus-window--4 .your__item,
    .free-bonus-window--4 .our__item {
        height: 133px;
    }
    .free-bonus-window--4 .your__now-cost,
    .free-bonus-window--4 .our__now-cost {
        font-size: 41px;
    }
    .free-bonus-window--4 .your__pay,
    .free-bonus-window--4 .our__pay {
        height: 91px;
    }
    .free-bonus-window--4 .your__content,
    .free-bonus-window--4 .our__content {
        padding: 13px 13px 16px 13px;
    }
    .free-bonus-window--4 .your__benefit,
    .free-bonus-window--4 .our__benefit {
        padding: 0 46px;
    }
}


/* 4 модалки конец */


/* another-thing start */

#another-thing .modal-dialog {
    pointer-events: inherit;
    width: 715px;
    /* height: 515px; */
    max-width: 715px;
}

#another-thing .modal-body {
    background-image: linear-gradient(to right, #ff0000 0%, #7bec02 100%), linear-gradient(to right, #ff0000 0%, #7bec02 100%);
    border: none;
    border-left: 1px solid #ff0000;
    border-right: 1px solid #7bec02;
    background-position: 100% 100%, 0% 0%;
    background-repeat: no-repeat;
    background-size: 100% 1px;
    padding: 1px;
    border-radius: 5px;
}

.modal-another-thing {
    background-color: #101214;
    color: #ffffff;
    font-family: Plumb-l;
}

.another-thing__header {
    padding-top: 21px;
    font-size: 17px;
    text-transform: uppercase;
    font-family: Plumb-B;
    text-align: center;
    display: flex;
    justify-content: center;
}

.another-thing__header::before {
    content: '';
    display: block;
    background: url(../img/double-r.png);
    width: 17px;
    height: 15px;
    margin-right: 21px;
    background-repeat: no-repeat;
}

.another-thing__header::after {
    content: '';
    display: block;
    background: url(../img/double-l.png);
    width: 17px;
    height: 15px;
    margin-left: 21px;
    background-repeat: no-repeat;
}

.another-thing__description {
    background-image: url(../img/another-thing-bg.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    font-size: 24px;
    font-family: Plumb-l;
    text-align: center;
    padding: 27px 50px;
    line-height: 28px;
}

.another-thing__content {
    font-size: 18px;
    color: #a5a5a5;
    text-align: center;
    padding: 15px 30px;
}

.another-thing__item-cont {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 21px;
}

.another-thing__btn {
    width: 238px;
    height: 38px;
    margin: 0 auto;
    text-transform: uppercase;
    margin-bottom: 20px
}

@media (max-width: 720px) {
    #another-thing .modal-dialog {
        width: 290px;
        max-width: 290px;
    }
    .another-thing__description {
        font-size: 19px;
        padding: 23px 6px 11px;
        line-height: 23px;
    }
    .another-thing__content {
        font-size: 14px;
        padding: 15px 8px;
    }
    .another-thing__item-cont {
        justify-content: space-between;
        margin-top: 36px;
    }
    .another-thing__item-cont .my-predmet-item {
        width: 125px;
        height: 129px;
    }
    .another-thing__item-cont .my-predmet-item__img {
        width: 123px;
        height: 83px;
    }
    #another-thing .modal-body {
        background-image: linear-gradient(to top, #ff0000 0%, #7bec02 100%), linear-gradient(to top, #ff0000 0%, #7bec02 100%);
        border: none;
        border-bottom: 1px solid #ff0000;
        border-top: 1px solid #7bec02;
        background-position: 0% 0%, 100% 100%;
        background-repeat: no-repeat;
        background-size: 1px 100%;
    }
}


/* another-thing end */