@mixin font($color, $size, $weight, $text-transofrm:none) {
    color: $color;
    font-size: $size;
    font-weight: $weight;
    text-transform: $text-transofrm;
}

.container--promo {
    width: 1100px;
    margin: 0 auto;
}

.promotions {
    font-family: 'geometria', Arial, sans-serif;
    // font-family: 'geometria';
    &__header {
        text-align: center;
        @include font(#ffffff, 13px, 500);
    }
    &__razd-name {
        font-family: inherit;
        font-size: 14px;
        margin: 0 auto;
    }
}

.doing {
    margin-bottom: 36px;
    position: relative;
    margin-top: 112px;
    &__wrap {
        display: flex;
        flex-wrap: wrap;
    }
}

@keyframes sphere-red {
    from {
        bottom: 77px;
    }
    to {
        bottom: 97px;
    }
}

@keyframes sphere-blue {
    from {
        top: 127px;
    }
    to {
        top: 108px;
    }
}

@keyframes sphere-purple {
    from {
        top: 12px;
    }
    to {
        top: -2px;
    }
}

.promotion-pay {
    * {
        font-family: 'geometria', Arial, sans-serif!important;
    }
    @include font(#ffffff, 14px, 700, uppercase);
    .popup-recharge {
        form {
            margin-top: 92px;
            .form-group-btn {
                width: 100%;
                border-radius: 5px;
            }
        }
        .popup-recharge_title {
            font-size: 22px;
            font-weight: 700;
            line-height: 25px;
            letter-spacing: -1px;
        }
    }
    .form-recharge_inputs {
        padding-top: 20px;
    }
}

.hero {
    width: 550px;
    height: 390px;
    position: absolute;
    right: 0;
    bottom: 0;
    &__man {
        width: 100%;
        height: 100%;
        background-image: url(../img/combo/say.png), url(../img/combo/hero.png);
        background-position: top 8px left 50px, right bottom;
        background-repeat: no-repeat;
    }
    &__img {
        position: absolute;
        &--red {
            width: 145px;
            height: 145px;
            right: 6px;
            // bottom: 77px;
            animation-name: sphere-red;
            animation-duration: 1.5s;
            animation-timing-function: linear;
            animation-direction: alternate;
            animation-iteration-count: infinite;
        }
        &--blue {
            width: 136px;
            height: 136px;
            top: 127px;
            left: 108px;
            animation-name: sphere-blue;
            animation-delay: 500ms;
            animation-duration: 1.5s;
            animation-timing-function: linear;
            animation-direction: alternate;
            animation-iteration-count: infinite;
        }
        &--purple {
            width: 104px;
            height: 104px;
            right: 98px;
            top: 12px;
            animation-name: sphere-purple;
            animation-delay: 1s;
            animation-duration: 1.5s;
            animation-timing-function: linear;
            animation-direction: alternate;
            animation-iteration-count: infinite;
        }
    }
}

.deal {
    @include font(#ffffff, 13px, 700);
    width: 170px;
    height: 200px;
    border-radius: 5px;
    margin-right: 20px;
    margin-bottom: 21px;
    padding: 1px;
    &.frcase {
        background-image: linear-gradient(to bottom, #ec6502, #3f0e04);
    }
    &.mana {
        background-image: linear-gradient(to bottom, #3279ab, #191d20);
    }
    &.promo {
        background-image: linear-gradient(to bottom, #931ffc, #2b2a39);
    }
    &__content {
        width: 168px;
        height: 198px;
        border-radius: inherit;
        padding: 18px 10px 10px;
        background-color: #191d20;
        text-align: center;
        display: flex;
        flex-direction: column;
        &.frcase {
            background-image: url(../img/combo/case.png);
        }
        &.mana {
            background-image: url(../img/combo/blue.png);
        }
        &.promo {
            background-image: url(../img/combo/purple.png);
        }
    }
    &__text {
        margin-bottom: auto;
        line-height: 16px;
    }
    &__btn {
        display: block;
        width: 100%;
        height: 40px;
        margin: 0 auto;
        border-radius: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        @include font(#ffffff, 14px, 700, uppercase);
        cursor: pointer;
        padding: 4px 0 0 0;
        &.mana {
            background-image: linear-gradient(to left, #24475e, #3279ab);
            &:hover {
                background-image: linear-gradient(to right, #24475e, #3279ab);
            }
        }
        &.promo {
            background-image: linear-gradient(to left, #4b2776, #7222bf);
            &:hover {
                background-image: linear-gradient(to right, #4b2776, #7222bf);
            }
        }
    }
}

.call {
    background-color: #4e3072;
    border-radius: 5px;
    width: 90%;
    @include font(#ffffff, 13px, 700);
    padding: 10px 18px;
    &__list {
        display: flex;
        list-style: none;
    }
    &__item {
        position: relative;
        display: flex;
        align-items: center;
        margin-right: 33px;
        &:before {
            display: block;
            content: "";
            width: 40px;
            height: 40px;
            background-position: center;
            background-repeat: no-repeat;
            margin-right: 19px;
            // position: absolute;
            flex-shrink: 0;
        }
        &--balance::before {
            background-image: url(../img/combo/call_balance.png);
        }
        &--profit::before {
            background-image: url(../img/combo/call_profit.png);
        }
    }
}

.combinations {
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    justify-content: space-between;
    row-gap: 30px;
    width: 100%;
    margin-top: 25px;
}

.combo {
    width: 200px;
    height: 280px;
    padding: 1px;
    border-radius: 5px;
    &.sun {
        background-image: linear-gradient(to bottom, #ec6502, #3f0e04);
    }
    &.coldsnap {
        background-image: linear-gradient(to bottom, #3279ab, #191d20);
    }
    &.emp {
        background-image: linear-gradient(to bottom, #693068, #2b2a39);
    }
    &.tornado {
        background-image: linear-gradient(to bottom, #931ffc, #2b2a39);
    }
    &.chaosmeteor {
        background-image: linear-gradient(to bottom, #e1df2a, #6f2f05);
    }
    &__content {
        position: relative;
        background-color: #191d20;
        width: 198px;
        height: 278px;
        border-radius: inherit;
        padding: 53px 10px 10px;
        background-repeat: no-repeat;
        background-position: right bottom;
        &.sun {
            background-image: url(../img/combo/sun_bg.png);
        }
        &.coldsnap {
            background-image: url(../img/combo/cold_bg.png);
        }
        &.emp {
            background-image: url(../img/combo/sun_bg.png);
        }
        &.tornado {
            background-image: url(../img/combo/tornado_bg.png);
        }
        &.chaosmeteor {
            background-image: url(../img/combo/chaos_bg.png);
        }
        &:hover {
            filter: brightness(130%);
        }
    }
    &__marker {
        position: absolute;
        top: 10px;
        left: 10px;
        border-radius: 5px;
        background-color: #313437;
        @include font(#a5a5a5, 11px, 700, uppercase);
        padding: 5px 17px;
    }
    &__name {
        @include font(#ffffff, 16px, 700, uppercase);
        margin-bottom: 32px;
        &.sun {
            color: #ec6502;
        }
        &.coldsnap {
            color: #3279ab;
        }
        &.emp {
            color: #9668dd;
        }
        &.tornado {
            color: #7222be;
        }
        &.chaosmeteor {
            color: #bda71f;
        }
    }
    &__price {
        @include font(#ffffff, 16px, 700);
        margin-bottom: 11px;
    }
    &__profit {
        @include font(#000000, 11px, 700, uppercase);
        background-image: linear-gradient(to left, #ec6502, #ff8a48);
        border-radius: 5px;
        padding: 8px 16px 7px;
        width: fit-content;
        margin-bottom: 6px;
    }
    &__bonus {
        @include font(#ffffff, 13px, 700);
        margin-bottom: 24px;
    }
    &__balance {
        @include font(#aeaeae, 13px, 700);
        margin-bottom: 18px;
        span {
            color: #ffffff;
        }
    }
    &__button-wrap {
        display: flex;
        justify-content: space-between;
    }
    &__icon {
        width: 42px;
        height: 42px;
        background-repeat: no-repeat;
        background-size: cover;
        &.sun {
            background-image: url(../img/combo/sun.png);
        }
        &.coldsnap {
            background-image: url(../img/combo/cold.png);
        }
        &.emp {
            background-image: url(../img/combo/emp.png);
        }
        &.tornado {
            background-image: url(../img/combo/tornado.png);
        }
        &.chaosmeteor {
            background-image: url(../img/combo/chaos.png);
        }
    }
    &__button {
        width: 128px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        @include font(#ffffff, 14px, 700, uppercase);
        border-radius: 5px;
        border: none;
        cursor: pointer;
        &.sun {
            background-image: linear-gradient(to left, #ec6502, #d22300);
            &:hover {
                background-image: linear-gradient(to right, #ec6502, #d22300);
            }
        }
        &.coldsnap {
            background-image: linear-gradient(to left, #24475e, #3279ab);
            &:hover {
                background-image: linear-gradient(to right, #24475e, #3279ab);
            }
        }
        &.emp {
            background-image: linear-gradient(to left, #763ab4, #9769de);
            &:hover {
                background-image: linear-gradient(to right, #763ab4, #9769de);
            }
        }
        &.tornado {
            background-image: linear-gradient(to left, #4b2776, #7222bf);
            &:hover {
                background-image: linear-gradient(to right, #4b2776, #7222bf);
            }
        }
        &.chaosmeteor {
            background-image: linear-gradient(to left, #926610, #bea81f);
            &:hover {
                background-image: linear-gradient(to right, #926610, #bea81f);
            }
        }
    }
}

@media (max-width: 1200px) {
    .container--promo {
        width: 768px;
        margin: 0 auto;
        padding: 0 30px;
    }
    .doing {
        margin-top: 50px;
    }
    .call {
        z-index: 10;
        position: relative;
        padding: 10px 18px 10px 8px;
        &__item {
            margin-right: 10px;
            text-align: center;
            flex-shrink: 0;
            &::before {
                margin-right: 10px;
            }
            &--profit {
                max-width: 321px;
            }
        }
    }
    .deal {
        z-index: 5;
    }
    .call {
        z-index: -1;
    }
    .hero {
        width: 474px;
        height: 325px;
        overflow: hidden;
        z-index: 1;
        right: -138px;
        &__man {
            background-image: url(../img/combo/hero.png);
            background-position: right 10px bottom;
            background-repeat: no-repeat;
            background-size: 447px auto;
        }
        &__img {
            &--red {
                display: none;
            }
            &--blue {
                display: none;
            }
            &--purple {
                display: none;
            }
        }
    }
}

@media (max-width: 768px) {
    .container--promo {
        width: 100%;
        margin: 0 auto;
        padding: 0 10px;
    }
    .doing {
        margin-top: 20px;
        &__wrap {
            justify-content: space-between;
        }
    }
    .deal {
        width: 146px;
        height: 170px;
        order: 2;
        margin-bottom: 10px;
        font-size: 8px;
        margin-right: 0;
        &__content {
            width: 144px;
            height: 168px;
            padding: 16px 8px 8px;
        }
        &__text {
            line-height: 14px;
            font-size: 11px;
        }
        &__btn {
            font-size: 11px;
            height: 34px;
        }
    }
    .call {
        width: 145px;
        height: 135px;
        z-index: 0;
        padding: 18px 10px 10px 19px;
        order: 1;
        margin-bottom: 10px;
        flex-shrink: 0;
        background-color: transparent;
        font-size: 11px;
        line-height: 14px;
        font-weight: 500;
        &__list {
            padding: 0;
            display: block;
            position: relative;
        }
        &__item {
            margin-right: 0;
            margin-bottom: 10px;
            text-align: left;
            &--balance::before {
                background-image: none;
            }
            &--profit::before {
                background-image: none;
            }
            &::before {
                display: block;
                content: "";
                position: absolute;
                left: -18px;
                top: 1px;
                bottom: auto;
                width: 6px;
                height: 6px;
                box-sizing: border-box;
                border: 2px solid #3ea3e8;
                box-shadow: 0 0 13px #59b6f5;
            }
        }
    }
    .hero {
        display: none;
    }
    .combinations {
        grid-template-columns: repeat(auto-fill, 144px);
        row-gap: 10px;
    }
    .combo {
        width: 144px;
        height: 201px;
        border-radius: 5px;
        &__content {
            width: 142px;
            height: 199px;
            background-size: 142px 199px;
            padding-top: 43px;
        }
        &__marker {
            font-size: 10px;
            padding: 3px 6px;
        }
        &__name {
            font-size: 11px;
            margin-bottom: 18px;
        }
        &__price {
            font-size: 13px;
            margin-bottom: 7px;
        }
        &__profit {
            font-size: 10px;
            padding: 4px 5px;
            margin-bottom: 14px;
        }
        &__bonus {
            font-size: 10px;
            margin-bottom: 6px;
        }
        &__balance {
            font-size: 10px;
            margin-bottom: 8px;
        }
        &__icon {
            width: 30px;
            height: 30px;
            background-size: cover;
        }
        &__button {
            padding: 10px 4px;
            font-size: 11px;
            height: 30px;
            width: 80px;
        }
    }
}