* {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  font-family: inherit;
}

@font-face {
  font-family: Plumb-L;
  /* Имя шрифта */
  src: url(../font/PlumbCondensed-Light.otf);
  /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: Plumb-B;
  /* Имя шрифта */
  src: url(../font/PlumbCondensed-Bold.otf);
  /* Путь к файлу со шрифтом */
}

body {
  /*	background-image: url(../img/dota.png);*/
  background-image: linear-gradient(to top, rgba(28, 32, 35, 0.7), rgba(28, 32, 35, 0.7)), url(../img/dota.png);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  width: 450px;
  height: 100vh;
  text-align: center;
  font-family: Plumb-L;
  color: #fff;
  padding: 0 5px;
  display: flex;
  flex-direction: column;
  padding-top: 0;
}

.logo {
  height: 105px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 18px;
  margin-top: 10px;
}

.par1 {
  font-family: Plumb-B;
  font-size: 30px;
  color: #dd3d11;
  margin-bottom: 8px;
  text-shadow: 0px 0px 20px rgba(221, 61, 17, 0.66);
}

.par2 {
  font-size: 24px;
  margin-bottom: 48px;
}

.par3 {
  color: #717171;
  font-size: 15px;
  margin-bottom: 14px;
}

.par4 {
  font-size: 15px;
  line-height: 20px;
}

.yes {
  width: 156px;
  height: 38px;
  background: #ff4e18;
  border-radius: 4px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-top: 23px;
  font-size: 14px;
  margin-bottom: 63px;
  text-decoration: none;
  flex: none;
}

.yes:hover {
  background: #ff1800;
}

.time_text {
  font-size: 15px;
  margin-bottom: 20px;
}

.timer {
  height: 41px;
  width: 200px;
  background: #000;
  margin: 0 auto;
  margin-bottom: 20px;
}

.pol {
  margin-top: auto;
  margin-bottom: 5%;
}

@media (max-width: 450px) {
  .content {
    width: 100%;
    margin: 0;
    top: unset;
    left: unset;
    padding: 0px;
  }
}