/*lk start*/

.content-lk {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.lk-column-1 {
    width: 159px;
    margin-right: 19px;
    margin-top: 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    color: #fff;
}

.lk-column-1-div {
    width: 159px;
    height: 30px;
    line-height: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    margin-bottom: 10px;
    font-size: 13px;
}

.lk-column-1 .user-avatar {}

.lk-column-1 .user-avatar>img {
    width: 159px;
    height: 159px;
    margin-bottom: 10px;
}

.lk-column-1__money {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-family: Plumb-L;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
}

.lk-column-1__balance {
    text-align: center;
    width: 129px;
}

.lk-column-1__pay {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 30px;
    height: 30px;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#ec6502), to(#d93401));
    background-image: linear-gradient(to top, #ec6502, #d93401);
    background-repeat: no-repeat;
    font-family: Plumb-L;
    font-size: 30px;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    border: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0;
    cursor: pointer;
}

.button-t-b {
    height: 28px !important;
}

.lk-column-1__pay:focus {
    outline: none;
}

.lk-column-1 .money>a>div:hover {
    background-image: url(../img/button1r.png);
}

.lk-column-1__quantity {
    text-align: center;
    font-size: 16px;
    font-family: Plumb-l;
    color: #ababab;
    background-color: rgba(0, 0, 0, 0.5);
}

.lk-column-1 .name {
    text-align: center;
    font-size: 16px;
    font-family: Plumb-B;
    color: #ffffff;
}

.lk-column-1__partner {
    background-image: -webkit-gradient(linear, left bottom, left top, from(#ec6502), to(#d22300));
    background-image: linear-gradient(to top, #ec6502, #d22300);
    background-repeat: no-repeat;
    text-align: center;
    color: #fff;
    font-size: 16px;
    font-family: Plumb-B;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.lk-column-1__partner:hover {}

.lk-column-2 {
    max-width: 922px;
    float: right;
    margin-top: 45px;
}

.lk-column-2__adres {
    width: 525px;
    font-size: 16px;
    font-family: Plumb-L;
    line-height: 40px;
    height: 40px;
    border-radius: 3px;
    color: #adadad;
    border: none;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
}

.lk-column-2__adres:focus {
    outline: none;
}

.lk-column-2__link {
    background-repeat: no-repeat;
    background-size: 100%;
    color: #fff;
    font-size: 16px;
    font-family: Plumb-B;
    height: 40px;
    border-radius: 5px;
    line-height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.lk-column-2__link--change {
    background-image: -webkit-gradient(linear, left bottom, left top, from(#ec6502), to(#d22300));
    background-image: linear-gradient(to top, #ec6502, #d22300);
    width: 275px;
}

.lk-column-2__link--change:hover,
.lk-column-1__pay:hover {
    color: #fff;
}

.lk-column-2__link--save {
    background-image: -webkit-gradient(linear, left bottom, left top, from(#6df68d), to(#097f30));
    background-image: linear-gradient(to top, #6df68d, #097f30);
    width: 82px;
    margin: 0 20px;
}

.lk-column-2 .strong-1 {
    margin-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.lk-column-2 .strong-1>div:first-child {
    width: 518px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    color: #adadad;
    padding-left: 5px;
    float: left;
    margin-right: 20px;
    font-family: R-r;
}

.lk-column-2 .strong-1>a:nth-child(2)>div {
    width: 82px;
    text-align: center;
    color: #ffffff;
    background-image: url(../img/button6.png);
    background-repeat: no-repeat;
    background-size: 82px 30px;
    float: left;
    margin-right: 20px;
}

.lk-column-2 .strong-1>a:nth-child(2)>div:hover {
    background-image: url(../img/button6r.png);
}

.lk-column-2 .strong-1>a:last-child>div {
    margin-right: 0px;
    width: 275px;
    text-align: center;
    color: #ffffff;
    background-image: url(../img/button7.png);
    background-repeat: no-repeat;
    background-size: 275px 30px;
    float: left;
}

.lk-column-2 .strong-1>a:last-child>div:hover {
    background-image: url(../img/button7r.png);
}

.lk-column-2 .strong-2>div {
    float: left;
    width: 294px;
    height: 99px;
    border-radius: 4px;
    background-repeat: no-repeat;
    background-size: 294px 99px;
    background-position: center;
    margin-right: 20px;
}

.strong-4 {
    max-width: 922px;
}

.strong-4__header {
    font-size: 18px;
    font-family: Plumb-B;
    color: #ffffff;
    width: 100%;
    text-align: center;
}

.strong-4__item-cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 10px 23px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    /*    margin-top: 10px;*/
}

.lk-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 10px;
}

.lk-nav__activ {
    margin-left: auto;
}

.lk-nav__activ-link {
    font-size: 16px;
    font-family: Plumb-L;
    color: #ffffff;
    margin-left: 20px;
}

.lk-nav__activ-link-orage {
    color: #f4441a;
}

.lk-nav__activ-link-orage::before {
    content: '';
    display: block;
    width: 2px;
    height: 2px;
    border: 2px solid #f4441a;
    -webkit-box-shadow: 0px 0px 18px 6px rgba(255, 48, 0, 0.32);
    box-shadow: 0px 0px 18px 6px rgba(255, 48, 0, 0.32);
    margin: 6px;
    position: absolute;
    margin-left: -3px;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}


/*my item start*/

.properties {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: calc(100% - 4px);
    top: -113px;
    height: 21px;
    margin: 0 auto;
}

.my-predmet-item {
    /* height: 116px; */
    width: 136px;
    margin-bottom: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}

.my-predmet-item__img {
    /*    height: 91px;*/
    width: 100%;
    /*    border-bottom: 1px solid #4d4f4d;*/
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 137px;
    height: 92px;
    background-size: 137px !important;
}

.my-predmet-item__text {
    padding: 5px;
    width: 100%;
    text-align: center;
    background-color: #15181b;
    font-family: Plumb-L;
    font-size: 16px;
    border-radius: 0 0 5px 5px;
    color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.my-predmet-item__price {
    position: absolute;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 14px;
    font-family: Plumb-B;
    color: #ffffff;
    text-align: center;
    height: 21px;
    width: 42px;
    line-height: 21px;
}

.status-cont {
    height: 21px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin-left: auto;
    /* padding: 10px; */
}

.status-cont__link {
    width: 21px;
    height: 21px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-width: 1px;
    border-style: solid;
    font-size: 17px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: Plumb-B;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.52);
    margin-left: 3px;
}

.lk-item--margin {
    margin-left: 5px;
    margin-right: 5px;
}

.status-cont--status2 {
    border-color: #e94c22;
    /*	margin-left: 3px;*/
    color: #e94c22;
}

.status-cont--status1 {
    border-color: #a4a4a4;
    /*	margin-left: 3px;*/
    color: #a4a4a4;
}

.status-cont__link--hover {
    display: none;
}

.status-cont__link:hover .status-cont__link--hover {
    display: block;
}

.status-cont__link--hover {
    width: 108px;
    height: 21px;
    background-color: rgba(0, 0, 0, 0.52);
    border-radius: 3px;
    font-family: Plumb-L;
    font-size: 14px;
    position: absolute;
    top: -31px;
    font-size: 14px;
    color: #fff;
    line-height: 21px;
    text-align: center;
}

.status-cont__link--hover:after {
    display: table;
    content: "";
    border: 10px solid transparent;
    border-top: 10px solid rgba(0, 0, 0, 0.52);
    position: relative;
    left: 45px;
}

.lk-column-2 .strong-4 .predmet-item .status-cont .status-text {
    width: 50px;
    height: 21px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 10px;
    font-family: R-r;
    color: #ffffff;
    line-height: 21px;
}

.lk-column-2 .strong-4 .predmet-item .status-cont .status-text .green {
    color: #00fe78;
}

.lk-column-2 .strong-4 .predmet-item .status-cont .status-text .blue {
    color: #0db8f4;
}

.lk-column-2 .strong-4 .predmet-item .status-cont .status-text .pink {
    color: #ee82ee;
}

.predmet-item .predmet-item-keys {
    height: 110px;
    width: 135px;
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    top: -110px;
    display: none;
}

.predmet-item:hover .predmet-item-keys {
    display: block;
}

.predmet-item .predmet-item-keys>img {
    width: 97px;
    height: 92px;
    display: block;
    margin: 0 auto;
    position: relative;
    top: 10px;
}

.how-work {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 922px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    margin-bottom: 25px;
}

.strong-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin-bottom: 10px;
}

.strong-3 {
    width: 922px;
    height: 132px;
    background: url(../img/lk-banner.png);
    background-repeat: no-repeat;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 22px 0px 20px 30px;
    color: #fff;
    font-family: Plumb-L;
    font-size: 16px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.item-image-r1 {
    width: 100%;
    height: 2px;
    background: #00ff24;
    /*
    -webkit-box-shadow: 0 0 15px 2px #00ff24;
    box-shadow: 0 0 15px 2px #00ff24;
*/
    position: relative;
}

.item-image-r2 {
    width: 100%;
    height: 2px;
    background: #afeeee;
    /*
    -webkit-box-shadow: 0 0 15px 2px #afeeee;
    box-shadow: 0 0 15px 2px #afeeee;
*/
    position: relative;
}

.item-image-r3 {
    width: 100%;
    height: 2px;
    background: #ee82ee;
    /*
    -webkit-box-shadow: 0 0 15px 2px #ee82ee;
    box-shadow: 0 0 15px 2px #ee82ee;
*/
    position: relative;
}

.item-image-r4 {
    width: 100%;
    height: 2px;
    background: #0000cd;
    /*
    -webkit-box-shadow: 0 0 15px 2px #0000cd;
    box-shadow: 0 0 15px 2px #0000cd;
*/
    position: relative;
}

.item-image-r5 {
    width: 100%;
    height: 2px;
    background: #ffa500;
    /*
    -webkit-box-shadow: 0 0 15px 2px #ffa500;
    box-shadow: 0 0 15px 2px #ffa500;
*/
    position: relative;
}

.item-image-r6 {
    width: 100%;
    height: 2px;
    background: #cd00cd;
    /*
    -webkit-box-shadow: 0 0 15px 2px #cd00cd;
    box-shadow: 0 0 15px 2px #cd00cd;
*/
    position: relative;
}

.secret-items-cont .secret-item .item-text {
    font-family: R-r;
    font-size: 12px;
    color: #ffffff;
    width: 137px;
    height: 20px;
    border-top: 1px solid #4d4f4d;
}


/*lk end*/

@media (max-width: 1025px) {
    .how-work {
        display: none;
    }
    .link-form {
        display: none;
    }
    .strong-4__item-cont {
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }
}

@media (max-width: 426px) {
    .content-lk {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .lk-column-1 {
        margin: 0 auto;
    }
    .lk-nav {
        margin-top: 5px;
    }
}