.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

button:focus {
    outline: none;
}

.site-btn {
    background-repeat: no-repeat;
    background-size: 100%;
    color: #fff;
    font-size: 16px;
    font-family: Plumb-B;
    border-radius: 3px;
    /* line-height: 40px; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
    border: none;
    padding: 0;
}

.button-t {
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    border-radius: 3px;
    background-color: #15181b;
    /* line-height: 100%; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.site-btn--green {
    background-image: -webkit-gradient(linear, left bottom, left top, from(#6df68d), to(#097f30));
    background-image: linear-gradient(to top, #7bec02, #175e0d);
}

.site-btn--orange {
    background-image: -webkit-gradient(linear, left bottom, left top, from(#ec6502), to(#d22300));
    background-image: linear-gradient(to top, #ec6502, #d22300);
}

.button-t:first-letter {
    text-transform: uppercase;
}

.button-t:hover {
    background-color: transparent;
}

*:focus,
*:active {
    outline: none;
}

body {
    background-color: #1c2023;
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(28, 32, 35, 0.9)), to(rgba(28, 32, 35, 0.9))), url(../img/bg.png);
    background-image: linear-gradient(to top, rgba(28, 32, 35, 0.9), rgba(28, 32, 35, 0.9)), url(../img/bg.png);
    background-repeat: no-repeat;
    overflow-x: hidden;
    background-position: top center;
}

.modal-backdrop.show {
    opacity: .8;
}

main {
    overflow-x: hidden;
}

@font-face {
    font-family: R-b;
    /* Имя шрифта */
    src: url(../font/roboto-bold.ttf);
    /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: R-m;
    /* Имя шрифта */
    src: url(../font/roboto-medium.ttf);
    /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: R-r;
    /* Имя шрифта */
    src: url(../font/roboto-regular.ttf);
    /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: R-l;
    /* Имя шрифта */
    src: url(../font/roboto-light.ttf);
    /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: Plumb-B;
    /* Имя шрифта */
    src: url(../font/PlumbCondensed-Bold.otf);
    /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: Plumb-L;
    /* Имя шрифта */
    src: url(../font/PlumbCondensed-Light.otf);
    /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: 'geometria';
    src: url('../font/geometria-bold.eot');
    src: url('../font/geometria-bold.eot?#iefix') format('embedded-opentype'), url('../font/geometria-bold.woff2') format('woff2'), url('../font/geometria-bold.woff') format('woff'), url('../font/geometria-bold.ttf') format('ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'geometria';
    src: url('../font/geometria-bolditalic.eot');
    src: url('../font/geometria-bolditalic.eot?#iefix') format('embedded-opentype'), url('../font/geometria-bolditalic.woff2') format('woff2'), url('../font/geometria-bolditalic.woff') format('woff'), url('../font/geometria-bolditalic.ttf') format('ttf');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'geometria';
    src: url('../font/geometria-extrabold.eot');
    src: url('../font/geometria-extrabold.eot?#iefix') format('embedded-opentype'), url('../font/geometria-extrabold.woff2') format('woff2'), url('../font/geometria-extrabold.woff') format('woff'), url('../font/geometria-extrabold.ttf') format('ttf');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'geometria';
    src: url('../font/geometria-light.eot');
    src: url('../font/geometria-light.eot?#iefix') format('embedded-opentype'), url('../font/geometria-light.woff2') format('woff2'), url('../font/geometria-light.woff') format('woff'), url('../font/geometria-light.ttf') format('ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'geometria';
    src: url('../font/geometria-lightitalic.eot');
    src: url('../font/geometria-lightitalic.eot?#iefix') format('embedded-opentype'), url('../font/geometria-lightitalic.woff2') format('woff2'), url('../font/geometria-lightitalic.woff') format('woff'), url('../font/geometria-lightitalic.ttf') format('ttf');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'geometria';
    src: url('../font/geometria-medium.eot');
    src: url('../font/geometria-medium.eot?#iefix') format('embedded-opentype'), url('../font/geometria-medium.woff2') format('woff2'), url('../font/geometria-medium.woff') format('woff'), url('../font/geometria-medium.ttf') format('ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'geometria';
    src: url('../font/geometria-mediumitalic.eot');
    src: url('../font/geometria-mediumitalic.eot?#iefix') format('embedded-opentype'), url('../font/geometria-mediumitalic.woff2') format('woff2'), url('../font/geometria-mediumitalic.woff') format('woff'), url('../font/geometria-mediumitalic.ttf') format('ttf');
    font-weight: 500;
    font-style: italic;
}

$main-font: 'geometria',
'Arial',
'sans-serif';
.flex-box-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.flex-box-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

*a {
    text-decoration: none;
    outline: none;
}

*a:hover {
    text-decoration: none;
    outline: none;
}

a:hover {
    text-decoration: none;
    color: #fff;
}

ul {
    margin: 0;
    padding: 0;
}

ul>a>li {
    list-style: none;
    margin: 0;
    padding: 0;
}


/*градиентная рамка*/

.gradient {
    /*    border: 1px solid transparent;*/
    border-radius: 5px;
    border-top: 1px solid #ec5b02;
    border-bottom: 1px solid #ff0000;
    background-position: 0 0, 100% 0;
    background-repeat: no-repeat;
    background-size: 1px 100%;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ec5b02), to(#ff0000)), -webkit-gradient(linear, left top, left bottom, from(#ec5b02), to(#ff0000));
    background-image: linear-gradient(to bottom, #ec5b02 0%, #ff0000 100%), linear-gradient(to bottom, #ec5b02 0%, #ff0000 100%);
}


/*градиентная рамка*/


/*main*/

.section-2::after {
    content: "";
    display: table;
    clear: both;
    margin-top: 100px;
}

.page-name {
    /*	width: 73px;*/
    height: 66px;
    font-family: Plumb-B;
    color: #ffffff;
    font-size: 19px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background: url("../img/1760.png");
    background-repeat: no-repeat;
    background-position: center;
    margin: 25px auto 37px;
    text-transform: uppercase;
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.page-name__description {
    margin: 0px 0 -15px;
    font-family: Plumb-L;
    color: #adadad;
    font-size: 15px;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

::-webkit-scrollbar-thumb {
    height: 25px;
    background-color: #f4441a;
    border-radius: 50%;
}

::-webkit-scrollbar-corner {
    background-color: #999;
}

::-webkit-resizer {
    background-color: #666;
}

::-webkit-scrollbar {
    width: 3px;
    height: 100%;
    position: inherit
}

@import '_reset.scss';
@import '_header.scss';
@import '_footer.scss';
@import '_live.scss';
@import '_stat.scss';
@import '_lk.scss';
@import '_top.scss';
@import '_midas.scss';
@import '_case.scss';
@import '_modals.scss';
@import '_midas.scss';
@import '_stat.scss';
@import '_index.scss';
@import '_partner.scss';
@import '_contract.scss';
@import '_open_new.scss';
@import '_gift.scss';
@import '_open-win.scss';
@import '_techis.scss';
@import '_agree.scss';
// @import '_dota.scss';
// @import '_404.scss';
@import '_conclusion.scss';
@import '_notif.scss';
@import '_notif.scss';
@import '_lootback.scss';
@import '_promotion.scss';
@import '_sunstrike.scss';
@import '_manna.scss';