@mixin font($color, $size, $weight, $text-transofrm:none) {
    color: $color;
    font-size: $size;
    font-weight: $weight;
    text-transform: $text-transofrm;
}

.promotion-pay {
    @include font(#ffffff, 14px, 700, uppercase);
    font-family: 'geometria', Arial, sans-serif;
    max-width: 680px;
    background-color: #15181b;
    width: 680px;
    position: relative;
    // min-height: 296px;
    // z-index: 99999999;
    border-radius: 5px;
    &__top {
        padding: 33px 29px 0;
        background-color: #111416;
        height: 212px;
        border-radius: 5px 5px 0 0;
        &::before {
            display: block;
            content: "";
            width: 566px;
            height: 326px;
            top: -62px;
            left: 165px;
            position: absolute;
            background-image: url(../img/balance__women.png);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            z-index: 0;
        }
        &::after {
            display: block;
            position: absolute;
            content: "";
            background-image: url(../img/balance__coin.png);
            background-position: center;
            background-size: 346px 143px;
            background-repeat: no-repeat;
            width: 346px;
            height: 143px;
            top: -29px;
            right: -48px;
            z-index: 0;
        }
    }
    &__title {
        color: #e85b01;
        text-shadow: 0 0 20px #e85b01;
        text-transform: uppercase;
        margin-bottom: 34px;
        font-size: 22px;
        font-weight: 700;
        line-height: 25px;
        letter-spacing: -1px;
    }
    &__bottom {
        margin-top: -30px;
        padding: 0 30px 29px;
    }
    &__form {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        position: relative;
        z-index: 999;
        -ms-flex-pack: justify;
        justify-content: space-between
    }
    &__inputs {
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin-top: 21px;
    }
    &__btn {
        width: 100%;
        border-radius: 5px;
        height: 40px;
        background-image: linear-gradient(61deg, #7bec02 0, #175e0d 100%);
        border-radius: 5px;
        color: #fff;
        font-weight: 700;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        text-transform: uppercase;
        outline: 0;
        font-size: 13px;
        border: none;
        line-height: 14px;
        &:hover {
            background-image: linear-gradient(241deg, #7bec02 0, #175e0d 100%);
        }
    }
    &__methods {
        display: grid;
        grid-template-columns: repeat(auto-fill, 112px);
        row-gap: 20px;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
    }
    &__method {
        border-radius: 5px;
        label {
            width: 112px;
            height: 80px;
            background-color: #15181b;
            position: relative;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            padding-bottom: 10px;
            padding-top: 10px;
            cursor: pointer;
            border: 1px solid #2d2d2d;
            &:hover {
                background-color: #111416;
            }
        }
        input {
            display: none;
            &:checked+label {
                background-color: #111416;
                border-color: #f4441a;
            }
        }
    }
    &__method-info {
        font-size: 10px;
        color: #a5a5a5;
        font-weight: 300;
        position: absolute;
        text-transform: lowercase;
        bottom: 4px;
        right: 6px;
        background: #111416;
        border-radius: 3px;
        padding: 1px 6px;
        border: 1px solid #2d2d2d;
    }
    &__method-name {
        color: rgba(255, 255, 255, .25)
    }
    &__img {
        max-width: 100%;
        height: auto;
    }
    &__name {
        display: block;
        color: #fff;
        font-weight: 400;
        letter-spacing: .5px;
        width: 100%;
        font-size: 14px;
        text-align: center;
        text-transform: uppercase;
    }
    &__close {
        position: absolute;
        display: flex;
        justify-content: space-between;
        margin-top: auto;
        top: 20px;
        right: 20px;
        cursor: pointer;
        z-index: 100;
        img {
            width: 24px;
            height: 24px;
        }
    }
}

@media (max-width: 769px) {
    .promotion-pay {
        &__top {
            padding: 25px 0 0 12px;
            background-image: url(../img/pay-combo/coins.png), url(../img/pay-combo/smoke.png);
            background-repeat: no-repeat;
            background-position: right bottom;
            height: 128px;
            &::before {
                display: none;
            }
            &::after {
                display: none;
            }
        }
        &__title {
            font-size: 17px;
            line-height: 23px;
        }
        &__bottom {
            padding: 0 10px 10px;
            margin-top: 0;
        }
        &__methods {
            row-gap: 10px;
            justify-content: space-around;
        }
        &__form {
            margin-top: 20px;
        }
        &__inputs {
            margin-top: 10px;
            // padding-top: 8px
        }
        &__close {
            top: 10px;
            right: 10px;
        }
    }
}