$main-font: 'geometria',
'Arial',
'sans-serif';
@mixin font-geometria($size: 13px, $weight: 700, $color: #ffffff, $transform: 0) {
    font-family: $main-font;
    font-size: $size;
    font-weight: $weight;
    color: $color;
    @if $transform !=0 {
        text-transform: $transform;
    }
}

.sunstrike {
    background-color: #15181b;
    border-radius: 5px;
    border: none;
    width: 500px;
    box-sizing: border-box;
    /*************************Верхний блок***********************/
    &__top {
        background-color: #111416;
        border-radius: 5px;
        padding: 46px 0 0 30px;
        box-sizing: border-box;
        min-height: 212px;
        background-image: url(../img/sunstrike/sunstrike_bg.png);
        background-position: right bottom;
        background-size: 100%;
        background-repeat: no-repeat;
    }
    &__head {
        max-width: 245px;
        width: 100%;
    }
    &__header {
        @include font-geometria(18px);
        position: relative;
        margin-bottom: 56px;
        width: fit-content;
        &::after {
            display: block;
            content: "";
            width: 19px;
            height: 19px;
            border-radius: 5px;
            position: absolute;
            background-image: url(../img/sunstrike/sunstrike_fire.png);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            right: -30px;
            top: -3;
        }
    }
    &__old-price {
        @include font-geometria(72px);
        width: fit-content;
        position: relative;
        &::before {
            content: "";
            display: block;
            width: 100%;
            height: 4px;
            bottom: 28px;
            border: none;
            background-color: #ff0000;
            position: absolute;
        }
    }
    /*************************Конец верхнего блока*******************/
    /*****************************Нижний блок***********************/
    &__bottom {
        padding: 28px 29px 30px;
        width: 100%;
        min-height: 251px;
        z-index: 1;
        position: relative;
    }
    &__button {
        @include font-geometria(14px);
        text-transform: uppercase;
        width: 100%;
        height: 40px;
        border: none;
        border-radius: 5px;
        background-image: linear-gradient(to left, #24475e, #3279ab);
        padding: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        &:hover {
            background-image: linear-gradient(to right, #24475e, #3279ab);
        }
    }
    &__profit {
        @include font-geometria();
        margin-bottom: 31px;
    }
    &__profits-list {
        list-style-type: none;
        margin-bottom: 20px;
    }
    &__profits-item {
        @include font-geometria();
        position: relative;
        margin-left: 29px;
        // margin-top: 10px;
        margin-bottom: 15px;
        &::before {
            display: block;
            content: "";
            position: absolute;
            left: -29px;
            top: 3px;
            bottom: auto;
            width: 6px;
            height: 6px;
            box-sizing: border-box;
            border: 2px solid #3ea3e8;
            box-shadow: 0 0 13px #59b6f5;
        }
        &--green {
            color: #12ff00;
        }
        &--blue {
            color: #3ea3e8;
        }
    }
    &__item-wrap {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        flex-wrap: wrap;
        margin-bottom: 22px;
    }
    &__item {
        width: 60px;
        height: 60px;
        border: none;
        border-radius: 5px;
        background-color: #111416;
        margin-right: 10px;
        @include font-geometria(10px, 300);
        display: flex;
        justify-content: flex-end;
        align-items: end;
        padding: 1px 4px;
        background-repeat: no-repeat;
        background-position: center bottom 7px;
        &--rub {
            background-image: url(../img/sunstrike/rub.png);
        }
        &--mana {
            background-image: url(../img/sunstrike/mana.png);
        }
        &--ny {
            background-image: url(../img/sunstrike/new-year.png);
            background-position-y: 10px;
        }
        &:hover {
            transform: scale(1.1);
        }
    }
    &__case-link {
        @include font-geometria();
        text-decoration: none;
        text-decoration-line: underline;
    }
    /************************* Конец нижнего блока *******************/
    &__close {
        position: absolute;
        display: flex;
        justify-content: space-between;
        margin-top: auto;
        top: 19px;
        right: 18px;
        cursor: pointer;
        z-index: 100;
        & img {
            width: 24px;
            height: 24px;
        }
    }
}


/************************* Медиа-запросы ****************************/

@media (min-width: 576px) {
    #sunstrike .modal-dialog {
        max-width: 500px;
        margin: 10% auto;
    }
}

@media (max-width: 800px) {
    #sunstrike .modal-dialog {
        max-width: 286px;
        margin: 10% auto;
    }
    .sunstrike {
        &__top {
            min-height: fit-content;
            padding: 38px 13px 8px;
            background-size: cover;
        }
        &__header {
            @include font-geometria(17px);
            margin-bottom: 32px;
            &::after {
                width: 11px;
                height: 11px;
                right: -21px;
                top: 2px;
                border-radius: 5px;
            }
        }
        &__old-price {
            @include font-geometria(49px);
            &::before {
                height: 3px;
                bottom: 20px;
            }
        }
        &__profit {
            @include font-geometria(10px);
            line-height: 12px;
            max-width: 200px;
            margin-bottom: 17px;
        }
        &__item-wrap {
            margin-bottom: 10px;
        }
        &__item {
            @include font-geometria(10px);
            padding: 4px 2px;
        }
        &__bottom {
            padding: 20px 10px 9px;
        }
        &__button {
            position: relative;
            top: 0;
            width: 100%;
            height: 40px;
            border-radius: 5px;
        }
        &__profits-list {
            margin-bottom: 21px;
            max-width: 200px;
        }
        &__profits-item {
            @include font-geometria(10px);
            margin-left: 17px;
            margin-bottom: 14px;
            line-height: 11px;
            &::before {
                left: -18px;
                top: 2px;
            }
        }
        &__case-link {
            @include font-geometria(10px);
        }
        &__close {
            top: 7px;
            right: 8px;
        }
    }
}